#todo-list button {
  background-color: transparent;
  border-width: 0px;
  width: 25px;
  height: 25px;
  text-decoration: none;
  margin: 5px 5px;
  text-align: center;
}
#todo-list {
  margin-top: 25px;
}